.aside {
    box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
    width: 306px;
    padding: 38px 10px 77px 28px;
    display: flex;
    flex-direction: column;
}

.aside__logo {
    margin-bottom: 67px;
}

.aside__user {
    margin-top: auto;
}