.aside {
    box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
    width: 306px;
    height: 100vh;
    padding-left: 28px;
    padding-top: 38px;
    padding-bottom: 77px;
    display: flex;
    flex-direction: column;
}

.aside__logo {
    margin-bottom: 67px;
}

.aside__user {
    margin-top: auto;
}