.user {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 160px;
}

.user__container {
    margin-left: 12px;
}

.user__name {
    font-weight: 500;
    font-size: 14px;
}

.user__position {
    color: #757575;
    font-size: 12px;
}